@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Student Management System Project Asp.net MVC</p>


@*<p>Student Management System Project Asp.net MVC</p> *@

<p>How to add Sorting Functionality in ASP.NETMVC 5 - MVC5 Tutorial</p>


<p>ASP.NET MVC  - Upload Image using Entity framework</p>

